.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: auto;
  }
  
  .register-form {
    border: 1px solid gray;
    padding: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}